@model Team6_MIS4200.Models.Recognition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recognition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.surveyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surveyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coreValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coreValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reasoning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reasoning)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
